* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  align-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  
}
.info--photo {
  max-width: 100%;
}
.dev_name {
  color: black;
  text-align: center;
  margin-bottom: 0;
  font-family: inter;
  font-weight: 600
}
.dev_title {
  color: #F4B98E;
  text-align: center;
  margin-top: 0;
  font-family: inter;
  font-weight: 500;
}
.dev_website {
  color: #8B8DA4;
  text-align: center;
  font-family: inter;
  font-weight: 300;
}
button {
  border-radius: 5px;
  border: none;
  width: 140px;
  height: 40px;
  justify-content: center;
  
}
.btn-group {
  text-align: center;
}
.email-btn {
  display: inline-flex;
  align-items: center;
  background-color: #e6e2c1;
}
.email-logo {
  height: 20px;
  width: 20px;
  margin: 10px;    
}
.linkedin-btn{
  display: inline-flex;
  align-items: center;
  background-color: #b8dade;
  margin-left: 20px;
}
.linkedin-icon {
  height: 20px;
  width: 20px;
  margin: 10px;
}
